
<footer class="footer section text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="social-media">
          <h5>Liên hệ với chúng tôi</h5>
					<li>
						<a href="https://www.facebook.com/phi6623/">
							<i class="tf-ion-social-facebook"></i>
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/phungvanphi6623/">
							<i class="tf-ion-social-instagram"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="tf-ion-social-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="tf-ion-social-pinterest"></i>
						</a>
					</li>
				</ul>
				<ul class="footer-menu text-uppercase">
					<li>
						<a href="#">Liên hệ</a>
					</li>
					<li>
						<a href="#">Cửa Hàng | chi nhánh</a>
					</li>
					<li>
						<a [routerLink]="['products']">Sản phẩm</a>
					</li>
					<li>
						<a href="#">Chính sách bảo mật</a>
					</li>
				</ul>
				<p class="copyright-text">Bản Quyền &copy;2022, Thiết kế &amp; Phát triển bởi <a href="https://tpnshop247@gmail.com">TPNteam</a></p>
			</div>
		</div>
	</div>
</footer>
