<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h1 class="page-name">Cart</h1>
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">cart</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <div class="row" *ngFor="let order of order.orders"></div> -->


<div class="page-wrapper">
  <div class="cart shopping">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="block">
            <div class="product-list">
              <form method="post">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="">Ảnh</th>
                      <th class="">Tên </th>
                      <th class="">Giá</th>
                      <th class="">Số Lượng</th>
                      <th class="">Tùy Chọn</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let order of orders">
                      <td>
                        <div class="d-flex mb-2">
                          <div class="flex-shrink-0">
                            <img style="margin-left: 0px;" [src]="url+order.image" alt="" width="100px" height="100px"
                              class="img-fluid">
                          </div>
                        </div>
                      </td>

                      <td class="">{{ order.name }}</td>
                      <td class="">{{ order.price }}</td>
                      <td>
                        <ul class="number">
                          <li>
                            <a onclick="this.parentNode.querySelector('input[type=number]').stepDown();"
                              (click)="urlUpdatequantity(order.id, amount.value)"></a>
                            <input #amount name="amount" min="1" style="width: 40px" type="number"
                              value="{{ order.quantity }}" />
                            <a onclick="this.parentNode.querySelector('input[type=number]').stepUp()"></a>
                          </li>
                        </ul>
                      </td>
                      <td class="">
                        <li>
                          <button type="button" (click)="deleteCart(order.id)"><i
                              class="product-remove">Remove</i></button>

                        </li>
                        <!-- <a class="product-remove" (click)="deleteCart(orders.id)">Remove</a> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
                <a href="checkout.html" class="btn btn-main pull-right">Checkout</a>
                <td>
                  <a href="checkout.html" class="btn btn-main pull-left">Cập nhật giỏ hàng</a>
                </td>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
