<section class="single-product">
	<div class="container">
		<div class="row">
		</div>
		<div class="row mt-20">
			<div class="col-md-5">
				<div class="single-product-slider">
					<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
						<div class='carousel-outer'>
							<!-- me art lab slider -->
							<div  class='carousel-inner'>
								<div class='item active' >
									<img [src]="url+products?.image" [alt]="products.name">
								</div>
							</div>
						</div>
						<!-- sag sol -->
						<a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
							<i class="tf-ion-ios-arrow-left"></i>
						</a>
						<a class='right carousel-control' href='#carousel-custom' data-slide='next'>
							<i class="tf-ion-ios-arrow-right"></i>
						</a>
						<!-- thumb -->
						<ol class='carousel-indicators mCustomScrollbar meartlab'>
							<li *ngFor="let item of products.image_products" data-target='#carousel-custom'  class='item active'>
								<img [src]="url+item?.image" [alt]="item.image">
							</li>
						</ol>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-details">
					<h2>{{ products.name }}</h2>
					<p class="product-price">{{ products.price|number }}VND</p>

					<p class="product-description mt-20">
					<div class="color-swatches">

					</div>
					<div class="product-size">
						<span>Size:</span>
						<select class="form-control">
							<option>S</option>
							<option>M</option>
							<option>L</option>
							<option>XL</option>
						</select>
					</div>
					<div class="product-category">
						<span>Categories:</span>
						<ul>
							<li><a href="product-single.html">Products</a></li>
							<li><a href="product-single.html">Soap</a></li>
						</ul>
					</div>
					<a (click)="addToCart(products.id)" class="btn btn-main mt-20">Add To Cart</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="tabCommon mt-20">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Details</a></li>
					</ul>
					<div class="tab-content patternbg">
						<div id="details" class="tab-pane fade active in">
							<h3>
								<div [innerHTML]="products.description"></div>
							</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>