<style>
  img[id=imageprd] {
    width: 260px;
    height: 300px;
  }
</style>
<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <h2 class="page-name">Tất cả sản phẩm</h2>
          <ol class="breadcrumb">
            <li><a [routerLink]="['/home']">Trang Chủ</a></li>
            <li class="active">Danh Sách</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="products section">
  <div class="container">
    <div class="row">
      <div class="col-md-3">

        <div class="widget product-category">
          <h4 class="widget-title">Loại Sản Phẩm</h4>
          <div class="panel-group commonAccordion" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">

                    Danh Sách Thể Loại
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <ul>
                    <li *ngFor="let category of categories"><a
                        (click)="product_OfCate(category.id)">{{category.name}}</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="main">

            <div class="col-md-4" *ngFor="let product of products | paginate: { itemsPerPage: 9, currentPage: p }">

              <div class="product-item">
                <div class="product-thumb">
                  <img id="imageprd" [src]="url+product.image" [alt]="product.name" />
                  <div class="preview-meta">
                    <ul>
                      <li>
                      <li>
                        <a [routerLink]="['/product-detail/' + product.id]"><i class="tf-ion-ios-search-strong"></i></a>
                      </li>
                      <li>
                        <a href="#!"><i class="tf-ion-ios-heart"></i></a>
                      </li>
                      <li>
                        <a (click)="addToCart(product.id)"><i class="tf-ion-android-cart"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="product-content">
                  <h5><a [routerLink]="['/product-detail/' + product.id]">{{ product.name }}</a></h5>
                  <p class="price">{{ product.price |number}} VND</p>
                </div>
              </div>

            </div>
          </div>
        </div>
        <pagination-controls previousLabel="Trang sau" nextLabel="Trang tiếp"
          (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</section>
