<section class="single-product">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ol class="breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li><a href="shop.html">Shop</a></li>
					<li class="active">Single Product</li>
				</ol>
			</div>
			<div class="col-md-6">
				<ol class="product-pagination text-right">
					<li><a href="blog-left-sidebar.html"><i class="tf-ion-ios-arrow-left"></i> Next </a></li>
					<li><a href="blog-left-sidebar.html">Preview <i class="tf-ion-ios-arrow-right"></i></a></li>
				</ol>
			</div>
		</div>
		<div class="row mt-20">
			<div class="col-md-5">
				<div class="single-product-slider">
					<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
						<div class='carousel-outer'>
							<!-- me art lab slider -->
							<div class='carousel-inner '>
								<div class='item active'>
									<img [src]="url+product.image" [alt]="product.name">
								</div>
								<div class='item'>
									<img [src]="url+product.image" [alt]="product.name">

								</div>

								<div class='item'>
									<img [src]="url+product.image" [alt]="product.name">

								</div>
								<div class='item'>
									<img [src]="url+product.image" [alt]="product.name">

								</div>
								<div class='item'>
									<img [src]="url+product.image" [alt]="product.name">

								</div>
								<div class='item'>
									<img [src]="url+product.image" [alt]="product.name">

								</div>

							</div>

							<!-- sag sol -->
							<a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
								<i class="tf-ion-ios-arrow-left"></i>
							</a>
							<a class='right carousel-control' href='#carousel-custom' data-slide='next'>
								<i class="tf-ion-ios-arrow-right"></i>
							</a>
						</div>

						<!-- thumb -->
						<ol class='carousel-indicators mCustomScrollbar meartlab'>
							<li data-target='#carousel-custom' data-slide-to='0' class='active'>
								<img [src]="url+product.image" [alt]="product.name">
							</li>
							<li data-target='#carousel-custom' data-slide-to='1'>
								<img [src]="url+product.image" [alt]="product.name">
							</li>
							<li data-target='#carousel-custom' data-slide-to='2'>
								<img [src]="url+product.image" [alt]="product.name">
							</li>
							<li data-target='#carousel-custom' data-slide-to='3'>
								<img [src]="url+product.image" [alt]="product.name">
							</li>
							<li data-target='#carousel-custom' data-slide-to='4'>
								<img [src]="url+product.image" [alt]="product.name">
							</li>
							<li data-target='#carousel-custom' data-slide-to='5'>
								<img [src]="url+product.image" [alt]="product.name">
							</li>
							<li data-target='#carousel-custom' data-slide-to='6'>
								<img [src]="url+product.image" [alt]="product.name">
							</li>
						</ol>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-details">
					<h2>{{ product.name }}</h2>
					<p class="product-price">{{ product.price|number }}VND</p>

					<p class="product-description mt-20">
					<div class="color-swatches">

					</div>
					<div class="product-size">
						<span>Size:</span>
						<select class="form-control">
							<option>S</option>
							<option>M</option>
							<option>L</option>
							<option>XL</option>
						</select>
					</div>
					<div class="product-quantity">
						<span>Quantity:</span>
						<div class="product-quantity-slider">
							<input id="product-quantity" type="text" value="0" name="product-quantity">
						</div>
					</div>
					<div class="product-category">
						<span>Categories:</span>
						<ul>
							<li><a href="product-single.html">Products</a></li>
							<li><a href="product-single.html">Soap</a></li>
						</ul>
					</div>
					<a href="cart.html" class="btn btn-main mt-20">Add To Cart</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="tabCommon mt-20">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Details</a></li>
						<li class=""><a data-toggle="tab" href="#reviews" aria-expanded="false">Reviews (3)</a></li>
					</ul>
					<div class="tab-content patternbg">
						<div id="details" class="tab-pane fade active in">
							<h3>
								<div [innerHTML]="product.description"></div>
							</h3>
						</div>
						<div id="reviews" class="tab-pane fade">
							<div class="post-comments">
								<ul class="media-list comments-list m-bot-50 clearlist">
									<!-- Comment Item start-->
									<li class="media">

										<a class="pull-left" href="#!">
											<img class="media-object comment-avatar" src="images/blog/avater-1.jpg"
												alt="" width="50" height="50" />
										</a>

										<div class="media-body">
											<div class="comment-info">
												<h4 class="comment-author">
													<a href="#!">Jonathon Andrew</a>

												</h4>
												<time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
												<a class="comment-button" href="#!"><i
														class="tf-ion-chatbubbles"></i>Reply</a>
											</div>

											<p>

											</p>
										</div>

									</li>
									<!-- End Comment Item -->

									<!-- Comment Item start-->
									<li class="media">

										<a class="pull-left" href="#!">
											<img class="media-object comment-avatar" src="images/blog/avater-4.jpg"
												alt="" width="50" height="50" />
										</a>

										<div class="media-body">

											<div class="comment-info">
												<div class="comment-author">
													<a href="#!">Jonathon Andrew</a>
												</div>
												<time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
												<a class="comment-button" href="#!"><i
														class="tf-ion-chatbubbles"></i>Reply</a>
											</div>

											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at
												magna ut ante eleifend eleifend. Lorem ipsum dolor sit amet, consectetur
												adipisicing elit. Magni natus, nostrum iste non delectus atque ab a
												accusantium optio, dolor!
											</p>

										</div>

									</li>
									<!-- End Comment Item -->

									<!-- Comment Item start-->
									<li class="media">

										<a class="pull-left" href="#!">
											<img class="media-object comment-avatar" src="images/blog/avater-1.jpg"
												alt="" width="50" height="50">
										</a>

										<div class="media-body">

											<div class="comment-info">
												<div class="comment-author">
													<a href="#!">Jonathon Andrew</a>
												</div>
												<time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
												<a class="comment-button" href="#!"><i
														class="tf-ion-chatbubbles"></i>Reply</a>
											</div>

											<p>
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at
												magna ut ante eleifend eleifend.
											</p>

										</div>

									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>